[packages]
aiogram = "~=3.12.0"
aiogram_i18n = "*"
aiohttp = "~=3.10.3"
asgiref = "*"
Django = "~=5.1"
django-babel = "*"
django-environ = "*"
django-extensions = "*"
django-modeltranslation = "*"
django-money = "*"
django-timezone-field = "*"
email-validator = "*"
environs = "*"
gunicorn = "*"
jsonfield = "*"
phonenumbers = "*"
psycopg2-binary = "*"
py-moneyed = "*"
pytz = "*"

[dev]
black = "*"

[requires]
python_version = "3.12"
